Repository Albert221/FastShopping: changes, and which Codecov flags are due for each by the changed paths.
All: app, bloc

codecov.yml:

coverage:
  status:
    project:
      app:
        informational: true
        flags: [app]
      bloc:
        target: auto
        threshold: 5%
        flags: [bloc]
    patch: off

flags:
  app:
    paths: ['!fast_shopping_bloc']
  bloc:
    paths: [fast_shopping_bloc]

ignore: ['**/*.freezed.dart', '**/*.g.dart']

Add proper dark theme colors
  fast_shopping_bloc/lib/src/models/settings.dart
  lib/features/items/widgets/no_items_placeholder.dart
  lib/features/items/widgets/no_list_selected_placeholder.dart
  lib/features/shopping_lists/widgets/shopping_list_tile/shopping_list_tile.dart
  lib/features/shopping_lists/widgets/shopping_lists_tab_bar.dart
  lib/theme.dart
Due: app, bloc

Switch themes according to app settings
  lib/app.dart
  lib/theme.dart
Due: app

Fix hardcoded colors in few places
  lib/features/items/widgets/archive_banner.dart
  lib/features/items/widgets/item_tile/collapsed_item_tile.dart
  lib/features/items/widgets/item_tile/expanded/done_bar.dart
  lib/features/items/widgets/item_tile/expanded_item_tile.dart
Due: app

Add dark mode (#61)
  fast_shopping_bloc/lib/src/models/settings.dart
  lib/app.dart
  lib/features/items/widgets/archive_banner.dart
  lib/features/items/widgets/item_tile/collapsed_item_tile.dart
  lib/features/items/widgets/item_tile/expanded/done_bar.dart
  lib/features/items/widgets/item_tile/expanded_item_tile.dart
  lib/features/items/widgets/no_items_placeholder.dart
  lib/features/items/widgets/no_list_selected_placeholder.dart
  lib/features/shopping_lists/widgets/shopping_list_tile/shopping_list_tile.dart
  lib/features/shopping_lists/widgets/shopping_lists_tab_bar.dart
  lib/theme.dart
Due: app, bloc

Trim item and shopping list titles
  fast_shopping_bloc/lib/src/bloc/selected_shopping_list_cubit.dart
  fast_shopping_bloc/lib/src/bloc/shopping_lists_cubit.dart
  fast_shopping_bloc/test/bloc/selected_shopping_list_cubit_test.dart
  fast_shopping_bloc/test/bloc/shopping_lists_cubit_test.dart
Due: bloc

Group shopping lists cubit tests
  fast_shopping_bloc/test/bloc/shopping_lists_cubit_test.dart
Due: bloc

Remove old excludes from analysis_options for l10n
  analysis_options.yaml
Due: app

Make Move done to end disabled by default
  fast_shopping_bloc/lib/src/bloc/app_settings_cubit.dart
Due: bloc

Add moving done items to end into bloc
  fast_shopping_bloc/lib/src/bloc/selected_shopping_list_cubit.dart
  fast_shopping_bloc/lib/src/models/item.dart
  fast_shopping_bloc/lib/src/models/item.freezed.dart
  fast_shopping_bloc/test/bloc/selected_shopping_list_cubit_test.dart
Due: bloc

Use new Item done getter
  fast_shopping_bloc/lib/src/models/shopping_list.dart
  lib/features/items/widgets/item_tile/collapsed_item_tile.dart
  lib/features/items/widgets/item_tile/expanded/done_bar.dart
Due: app, bloc

Use app setting Move done to ended
  lib/features/items/items_screen.dart
Due: app

Move done to end setting (#62)
  analysis_options.yaml
  fast_shopping_bloc/lib/src/bloc/app_settings_cubit.dart
  fast_shopping_bloc/lib/src/bloc/selected_shopping_list_cubit.dart
  fast_shopping_bloc/lib/src/models/item.dart
  fast_shopping_bloc/lib/src/models/item.freezed.dart
  fast_shopping_bloc/lib/src/models/shopping_list.dart
  fast_shopping_bloc/test/bloc/selected_shopping_list_cubit_test.dart
  lib/features/items/items_screen.dart
  lib/features/items/widgets/item_tile/collapsed_item_tile.dart
  lib/features/items/widgets/item_tile/expanded/done_bar.dart
Due: app, bloc

New translations app_en.arb (Italian)
  lib/l10n/app_it.arb
Due: app

Fix doubled translations
  lib/features/items/items_screen.dart
  lib/features/shopping_lists/widgets/tabs/current_tab.dart
  lib/l10n/app_en.arb
Due: app

New translations app_en.arb (French)
  lib/l10n/app_fr.arb
Due: app

New translations app_en.arb (German)
  lib/l10n/app_de.arb
Due: app

New translations app_en.arb (Russian)
  lib/l10n/app_ru.arb
Due: app

New translations app_en.arb (Polish)
  lib/l10n/app_pl.arb
Due: app

New translations app_en.arb (Macedonian)
  lib/l10n/app_mk.arb
Due: app

New translations title.txt (Italian)
  fastlane/metadata/android/it-IT/title.txt
Due: app

New translations strings.xml (Italian)
  android/app/src/main/res/values-it/strings.xml
Due: app

New Crowdin updates (#63)
  android/app/src/main/res/values-it/strings.xml
  fastlane/metadata/android/it-IT/title.txt
  lib/l10n/app_de.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_it.arb
  lib/l10n/app_mk.arb
  lib/l10n/app_ru.arb
Due: app

Make delete list body one string
  lib/features/shopping_lists/delete_list_dialog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_it.arb
  lib/l10n/app_mk.arb
  lib/l10n/app_pl.arb
  lib/l10n/app_ru.arb
Due: app

New translations full_description.txt (Italian)
  fastlane/metadata/android/it-IT/full_description.txt
Due: app
